:host {
  display: block;
  width: 100%;
  /*
   * Pre-allow a bit more space than the loading screens, which are quite small.
   * Also create some scrolling area in the host page to ensure the initial
   * scroll position can be reached when navigating between views.
   */
  min-height: 600px;

  accent-color: var(--agd-native-accent-color, var(--agd-color-primary));
}
