/*////// Header //////*/
#header {
    position: fixed;
    background: #fff;
    z-index: 99;
    width: 100%;
    transform: translateY(0px);
    transition: all 0.3s ease;
}
#header.sticky {
    transform: translateY(-53px);
}
.subheader .container {
    display: flex;
    justify-content: space-between;
}
.subheader p {
    margin-bottom: 0px;
    font-size: 20px; 
    font-weight: 800;
    padding: 12px 0px 12px 0px;
}
.subheader-right {
    border-left: 3px solid #212529;
    display: flex;
    align-items: center;
}
.subheader-right span {
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.subheader-right span:hover {
    background: #FFEE03;
}
.subheader-right span a:hover {
    text-decoration: none;
}
.subheader-right a {
    color: #212529;
}
.subheader-right span i {
    display: inline-block;
    padding-right: 6px;
    position: relative;
    top: 4px;
    font-size: 24px;
}
#header .navbar {
    border-top: 3px solid #212529;
    border-bottom: 3px solid #212529;
    padding: 18px 0px 18px 0px;
}
#header .header-inner {
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
}
#header .menu-icon {
    display: none;
}
#header .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 20px;
}
.nav-menu ul li {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
}
.nav-menu ul li:first-of-type {
    padding-left: 0px;
}
.nav-menu ul li:last-of-type {
    padding-right: 0px;
}
.nav-menu ul li a {
    color: #212529;
    text-transform: uppercase;
    font-size: 18px;    
    font-weight: 700;
    text-decoration: none !important;
    line-height: 1;
    position: relative;
}
.nav-menu ul li a:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -7px;
    width: 100%;
    height: 0px;
    background: #FFEE03;
    transition: all 0.3s ease;
    z-index: -1;
}
.nav-menu ul li.active a:after,
.nav-menu ul li:hover a:after {
    height: 15px;
}

@media (min-width: 992px) {
    .nav-menu ul li.hassub:hover .dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    padding: 0px;
    left: -50%;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    width: 305px;
}
.dropdown-menu ul {
    padding: 0px;
    margin: 0px;
    background: #212529;
}
.dropdown-menu ul li {
    list-style-type: none;
    padding: 0px;
    position: relative;
    margin-bottom: -3px;
    transition: all 0.3s ease;
    display: block;
    width: 100%;
}
.dropdown-menu ul li a:after {
    display: none;
}
.dropdown-menu ul li:hover {
    top: -8px;
    left: -8px;
}
.dropdown-menu ul li a {
    padding: 15px 20px;
    border: 3px solid #212529;
    display: block;
    width: 100%;
    text-align: center;
    background: #fff;
    transition: all 0.3s ease;
}
.dropdown-menu ul li a:hover {
    background: #FFEE03;
}

.menu-logo img {
    max-width: 100%;
    height: auto;
}

.menu-burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: start;
    float: right;
    position: relative;
    z-index: 1;
}
.menu-burger span {
    transition: all 0.3s ease;
    width: 20px;
    height: 2px;
    background: #2e2e2e;
    margin-bottom: 4px;
    transform: translateX(0) rotate(0deg);
    transform-origin: 10px center;
    opacity: 1;
    border-radius: 2px;
}
.menu-burger span:first-of-type {
    transform: translateX(0) rotate(0deg);
    transform-origin: 1px 2px;
}
.menu-burger span:last-of-type {
    transform: translateX(0) rotate(0deg);
    transform-origin: 7px 2px;
}
.menu-burger.open span {
    transition: all 0.3s ease;
    transform: translateX(100%) rotate(0deg);
    opacity: 0;
}
.menu-burger.open span:first-of-type {
    transform: translateX(0) rotate(45deg);
    opacity: 1;
    width: 25px;
}
.menu-burger.open span:last-of-type {
    transform: translateX(0) rotate(-45deg);
    opacity: 1;
    width: 25px;
}

/*////// Main content //////*/
@media (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}

::selection {
    background: #212529;
    color: #fff;
}
::-moz-selection {
    background: #212529;
    color: #fff;
}

@font-face {
    font-family: 'icomoon2';
    src:  url('../fonts/icomoon2.eot?s67f83');
    src:  url('../fonts/icomoon2.eot?s67f83#iefix') format('embedded-opentype'),
      url('../fonts/icomoon2.ttf?s67f83') format('truetype'),
      url('../fonts/icomoon2.woff?s67f83') format('woff'),
      url('../fonts/icomoon2.svg?s67f83#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon2-"], [class*=" icon2-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon2' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon2-add-bold-6:before {
    content: "\e910";
  }
  .icon2-add-circle-39:before {
    content: "\e911";
  }
  .icon2-add-circle-alternate-30:before {
    content: "\e912";
  }
  .icon2-add-circle-bold-19:before {
    content: "\e913";
  }
  .icon2-alert-circle-29:before {
    content: "\e914";
  }
  .icon2-alert-triangle-26:before {
    content: "\e915";
  }
  .icon2-arrow-button-down-2-21:before {
    content: "\e916";
  }
  .icon2-arrow-button-down-14:before {
    content: "\e917";
  }
  .icon2-arrow-button-left-2-1:before {
    content: "\e918";
  }
  .icon2-arrow-button-left-17:before {
    content: "\e919";
  }
  .icon2-arrow-button-right-2-31:before {
    content: "\e91a";
  }
  .icon2-arrow-button-right-8:before {
    content: "\e91b";
  }
  .icon2-arrow-button-up-2-33:before {
    content: "\e91c";
  }
  .icon2-arrow-button-up-25:before {
    content: "\e91d";
  }
  .icon2-arrow-corner-left-9:before {
    content: "\e91e";
  }
  .icon2-arrow-corner-right-4:before {
    content: "\e91f";
  }
  .icon2-check-circle-1-24:before {
    content: "\e920";
  }
  .icon2-check-circle-1-alternate-34:before {
    content: "\e921";
  }
  .icon2-common-file-text-3:before {
    content: "\e922";
  }
  .icon2-envelope-11:before {
    content: "\e923";
  }
  .icon2-information-circle-22:before {
    content: "\e926";
  }
  .icon2-network-arrow-27:before {
    content: "\e927";
  }
  .icon2-office-file-pdf-40:before {
    content: "\e928";
  }
  .icon2-pencil-write-2-alternate-23:before {
    content: "\e929";
  }
  .icon2-phone-36:before {
    content: "\e92a";
  }
  .icon2-question-circle-28:before {
    content: "\e900";
  }
  .icon2-remove-bold-2:before {
    content: "\e901";
  }
  .icon2-remove-circle-7:before {
    content: "\e902";
  }
  .icon2-remove-circle-alternate:before {
    content: "\e903";
  }
  .icon2-remove-circle-alternate-5:before {
    content: "\e904";
  }
  .icon2-remove-circle-bold-16:before {
    content: "\e905";
  }
  .icon2-remove-circle-bold-alternate-12:before {
    content: "\e906";
  }
  .icon2-single-neutral-circle-38:before {
    content: "\e907";
  }
  .icon2-single-neutral-circle-alternate-32:before {
    content: "\e908";
  }
  .icon2-social-instagram-20:before {
    content: "\e909";
  }
  .icon2-social-media-facebook-1-35:before {
    content: "\e90a";
  }
  .icon2-social-music-soundcloud-37:before {
    content: "\e90b";
  }
  .icon2-stamps-mail-10:before {
    content: "\e90c";
  }
  .icon2-subtract-bold-15:before {
    content: "\e90d";
  }
  .icon2-view-1-13:before {
    content: "\e90e";
  }
  .icon2-view-off-18:before {
    content: "\e90f";
  }
  .icon2-arrow-left-1:before {
    content: "\e924";
  }
  .icon2-arrow-right-1:before {
    content: "\e925";
  }

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
    overflow-x: clip;
}

.no-scroll {
    overflow: hidden;
}

#content {
    padding-top: 265px;
    padding-bottom: 80px;
}
.content-img img {
    max-width: 100%;
    height: auto;
    margin-bottom: 68px;
}

h1 {
    font-size: 49px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    margin-bottom: 35px;
    line-height: 1.1;
}
h2 {
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    margin-bottom: 25px;
    line-height: 1.15;
}
h3 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    margin-bottom: 14px;
    line-height: 1.15;
}
h4 {
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;  
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
    line-height: 1.15;
}
h5 {
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    line-height: 1.15;
}
h6 {
    line-height: 1.15;
}
p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.45;
}
ol,
ul {
    margin-bottom: 40px;
    padding-left: 0px;
}
ul li,
ol li {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
}
ol ol, ul ul, ol ul, ul ol {
    margin-top: 5px;
    margin-bottom: 10px;
}

#main-content ul:not(.slick-dots) li:not(.slick-slide) {
    position: relative;
    padding-left: 30px;
    list-style-type: none;
}
#main-content ul:not(.slick-dots) li:not(.slick-slide):before {
    content: '';
    width: 5px;
    height: 5px;
    background: #212529;
    position: absolute;
    left: 10px;
    top: 13px;
    border-radius: 50%;
}
#main-content ul li ul li:before {
    background: #fff;
    border: 1px solid #212529;
}
#main-content ol {
    counter-reset: item;
}
#main-content ol li {
    position: relative;
    padding-left: 38px;
    list-style-type: none;
}
#main-content ol li:before {
    content: counters(item, '.') '.';
    counter-increment: item;
    color: #212529;
    position: absolute;
    font-size: 20px;
    left: 13px;
    top: 0px;
}
#main-content ol li ol li {
    padding-left: 50px;
}

.frame p a {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #212529;
    text-transform: none;
    position: relative;
}
.frame p a:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 7px;
    background: #FFEE03;
    transition: all 0.3s ease;
    z-index: -1;
}
.frame p a:hover {
    text-decoration: none;
    color: #212529;
}
.frame p a:hover:before {
    height: 120%;
}
.frame p a[target=_blank]:after,
.frame .extern-link p a:after {
    content: "\e91f";
    font-family: 'icomoon2' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    transform: translateY(-50%) rotate(-90deg);
    transition: all 0.3s ease;
    padding-left: 7px;
    display: inline-block;
    position: relative;
    top: 9px;
}
.frame .intern-link p a:after {
    content: "\e91f";
    font-family: 'icomoon2' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    transform: translateY(-50%) rotate(-45deg);
    transition: all 0.3s ease;
    padding-left: 7px;
    display: inline-block;
    position: relative;
    top: 7px;
}

.intro-text {
    position: relative;
    padding-bottom: 38px;
    margin-bottom: 65px;
}
.intro-text:after {
    content: '';
    position: absolute;
    width: 84px;
    height: 9px;
    background: #FFEE03;
    bottom: 0px;
    left: 0px;
}
.intro-text p {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
}
.intro-text p:last-of-type {
    margin-bottom: 0px;
}

b, strong {
    font-weight: 700;
}

table {
    margin-bottom: 35px;
}
table thead {
    border-bottom: 1px solid #212529 !important;
}
table th {
    font-size: 20px;
    font-weight: 700;
    padding: 17px 14px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
}
table tbody tr {
    background: #EBEBEB;
}
table tbody tr:nth-child(2n) {
    background: #fff;
}
table td {
    padding: 14px 14px !important;
    font-size: 20px;
    font-weight: 400;
    border: 0px !important;
    border-bottom: 1px solid rgba(33, 37, 41, 0.12) !important;
}



#main-content .frame img,
#content .frame img {
    max-width: 100%;
    height: auto;
    margin-bottom: 45px;
}

.panel-group {
    padding-top: 25px;
    padding-bottom: 35px;
}
.panel {
    border-top: 1px solid #212529;
    border-bottom: 1px solid #212529;
    margin-top: -1px;
}
.panel.open {
    border-top: 2px solid #212529;
    border-bottom: 2px solid #212529;
}
.panel-heading {
    padding: 36px 0px 21px 0px;
}

.panel-heading > a {
    cursor: pointer;
    padding: 0px 0px 0px 36px;
    position: relative;
    display: block;
}
.panel-heading > a.collapsed:before {
    height: 18px;
}
.panel-heading > a:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 8px;
    width: 2px;
    height: 0px;
    background: #212529;
    transition: 0.3s;
}
.panel-heading > a:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 2px;
    background: #212529;
    transition: 0.3s;
}
.panel-heading:hover > a:before,
.panel-heading:hover > a:after {
    transform: rotate(180deg);
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
    margin-bottom: 0px;
}
.panel-body {
    padding-left: 36px;
}
hr {
    margin-top: 28px;
    margin-bottom: 28px;
    border: 0;
    border-top: 1px solid rgba(33, 37, 41, 0.12);
    display: inline-block;
    width: 100%;
}
.sep-gray hr {
    border-top: 1px solid #212529;
}
.sep-ligth-gray-dashed hr {
    border-top: 1px dashed rgba(33, 37, 41, 0.12);
}
.sep-gray-dashed hr {
    border-top: 1px dashed #212529;
}

.special-link-container {
    margin-bottom: 40px;
}
.special-link-container .special-link {
    display: block;
    width: 100%;
    color: #212529;
    padding: 30px 14px 24px 54px;
    border-top: 1px solid #212529;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}
.special-link-container .special-link:last-of-type {
    border-bottom: 1px solid #212529;
}
.special-link-container .special-link:hover {
    background: #FFEE03;
    border-top: 1px solid #FFEE03;
    border-bottom: 1px solid #FFEE03;
}
.special-link-container .special-link:hover + .special-link {
    border-top: 1px solid #FFEE03;
}
.special-link-container .special-link i {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: normal;
    font-size: 24px;
}
.special-link-container .special-link i.internal-link {
    transform: translateY(-50%) rotate(-45deg);
}
.special-link-container .special-link i.external-link {
    transform: translateY(-50%) rotate(-99deg);
}

blockquote {
    padding-left: 143px;
    position: relative;
    padding-bottom: 45px;
    margin: 0;
    border: 0;
}
blockquote:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display,inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    font-family: "Font Awesome 6 Sharp";
    font-weight: 900;
    content: "\f10d";
    position: absolute;
    left: 60px;
    top: 0px;
    color: #FFEE03;
    font-size: 59px;
}
blockquote p:first-of-type {
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.15;
    margin-bottom: 24px;
}   
blockquote P:last-of-type {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    padding-left: 42px;
}
blockquote P:last-of-type::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
    background: #FFEE03;
}


.nav-tabs {
    border: 0;
    padding-top: 40px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 0px !important;
}
.nav-tabs .tab-carousel .slick-track {
    padding-bottom: 5px;
}
.nav-tabs .tab-carousel .tab-item.slick-current {
    background: none;
}
.nav-tabs .tab-carousel .tab-item {
    height: auto;
    padding-bottom: 17px;
}
.nav-tabs .tab-carousel li {
    display: inline-block;
    padding-left: 0px !important;
}
.nav-tabs .tab-carousel .tab-item a {
    color: #212529;
    padding: 0px 19px 20px 18px;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    text-decoration: none !important;
}
.nav-tabs .tab-carousel .tab-item a:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: rgba(33, 37, 41, 0.12);
    transition: all 0.3s ease;
}
.nav-tabs .tab-carousel .tab-item a:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 5px;
    background: #FFEE03;
    transition: all 0.3s ease;
}
.nav-tabs .tab-carousel .tab-item.slick-current a:after {
    width: 100%;
}

.box-color {
    padding: 34px;
    margin-bottom: 25px;
}
.box-color.bg-light-grey {
    background: #EBEBEB;
}
.box-color.bg-yellow {
    background: #FFEE03;
}
.box-color.bg-grey {
    background: #212529;
}
.box-color.bg-grey * {
    color: #fff;
}
.box-color.bg-light-yellow {
    background: #FFFDC6;
}
.box-color.box-fullwidth {
    position: relative;
    padding: 60px 0px 100px 0px;
}
.box-color.box-fullwidth h2 {
    text-align: center;
}
.box-color.box-fullwidth.bg-light-yellow:before {
    content: '';
    position: absolute;
    left: -100vw;
    top: 0px;
    height: 100%;
    width: 200vw;
    background: #FFFDC6;
    z-index: -1;
}
.box-color.box-fullwidth.bg-light-yellow:after {
    content: '';
    position: absolute;
    right: -100vw;
    top: 0px;
    height: 100%;
    width: 200vw;
    background: #FFFDC6;
    z-index: -1;
}
.box-color p:last-of-type {
    margin-bottom: 0px;
}
#main-content div.box-fullwidth:last-child {
    margin-bottom: -80px;
}

.tx-powermail h3 {
    display: none;
}
.tx-powermail .powermail_fieldwrap.layout1 {
    padding: 0px 15px 0px 0px;
    clear: none;
    float: left;
    width: 50%;
}
.tx-powermail .powermail_fieldwrap.layout2 {
    padding: 0px 0px 0px 15px;
    clear: none;
    float: left;
    width: 50%;
}
.tx-powermail .powermail_fieldwrap {
    margin-bottom: 31px;
    width: 100%;
}
.form-label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.form-input {
    margin-bottom: 34px;
    width: 100%;
}
.tx-powermail .powermail_fieldset {
    display: flex;
    flex-wrap: wrap;
}
.tx-powermail .powermail_legend {
    display: none;
}
.tx-powermail label,
.frame-type-felogin_login label,
.tx-srfeuserregister-pi1 label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.frame-type-felogin_login label {
    display: block;
}
.powermail_fieldwrap input[type="text"],
.powermail_fieldwrap input[type="email"],
.powermail_fieldwrap input[type="date"],
.powermail_fieldwrap textarea,
.frame-type-felogin_login input[type="text"],
.frame-type-felogin_login input[type="password"],
.tx-srfeuserregister-pi1 input[type="text"],
.tx-srfeuserregister-pi1 input[type="email"],
.tx-srfeuserregister-pi1 input[type="tel"],
.tx-srfeuserregister-pi1 input[type="url"],
.tx-srfeuserregister-pi1 input[type="password"],
.tx-srfeuserregister-pi1 input[type="date"],
.tx-srfeuserregister-pi1 textarea {
    border: 3px solid #212529;
    background: #fff;
    transition: all 0.3s ease;
    padding: 14px 13px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    outline: none !important;
}
.powermail_fieldwrap.complete.active input[type="text"],
.powermail_fieldwrap.complete.active input[type="email"],
.powermail_fieldwrap.complete.active input[type="date"],
.powermail_fieldwrap.complete.active textarea,
.frame-type-felogin_login .input-container.complete.active input[type="text"],
.frame-type-felogin_login .input-container.complete.active input[type="password"],
.tx-srfeuserregister-pi1 .form-input.complete.active input[type="text"],
.tx-srfeuserregister-pi1 .form-input.complete.active input[type="email"],
.tx-srfeuserregister-pi1 .form-input.complete.active input[type="tel"],
.tx-srfeuserregister-pi1 .form-input.complete.active input[type="url"],
.tx-srfeuserregister-pi1 .form-input.complete.active input[type="password"],
.tx-srfeuserregister-pi1 .form-input.complete.active input[type="date"],
.tx-srfeuserregister-pi1 .form-input.complete.active textarea  {
    background: #FFEE03;
}
.powermail_fieldwrap.complete input[type="text"],
.powermail_fieldwrap.complete input[type="email"],
.powermail_fieldwrap.complete input[type="date"],
.powermail_fieldwrap.complete textarea,
.frame-type-felogin_login .input-container.complete input[type="text"],
.frame-type-felogin_login .input-container.complete input[type="password"],
.tx-srfeuserregister-pi1 .form-input.complete input[type="text"],
.tx-srfeuserregister-pi1 .form-input.complete input[type="email"],
.tx-srfeuserregister-pi1 .form-input.complete input[type="tel"],
.tx-srfeuserregister-pi1 .form-input.complete input[type="url"],
.tx-srfeuserregister-pi1 .form-input.complete input[type="password"],
.tx-srfeuserregister-pi1 .form-input.complete input[type="date"],
.tx-srfeuserregister-pi1 .form-input.complete textarea {
    background: #FFFDC6;
    box-shadow: 4px 4px 0px 0px rgba(33, 37, 41, 0.10) inset;
}
.powermail_fieldwrap_type_submit input,
.frame-type-felogin_login input[type="submit"],
.tx-srfeuserregister-pi1 input[type="submit"] {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    padding: 15px 22px;
    background: #FFEE03;
    border: 3px solid #212529;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
.powermail_fieldwrap_type_submit input:hover,
.frame-type-felogin_login input[type="submit"]:hover,
.tx-srfeuserregister-pi1 input[type="submit"]:hover {
    transform: translate(-8px, -8px);
    box-shadow: 8px 8px 0px #212529;
}

.tx-powermail .powermail_fieldwrap select,
.form-input select {
    display: none !important;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown,
.form-input .dropdown {
    width: 100%;
    min-height: 50px;
    font-size: 18px;
    background: #fff;
    border: 3px solid #212529;
    transition: all 0.3s ease;
    padding: 16px 35px 15px 13px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    outline: none;
    line-height: 24px;
    position: relative;
    text-align: left !important;
    user-select: none;
    height: inherit;
    border-radius: 0px;
    box-shadow: none;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown:before,
.form-input .dropdown:before {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    transition: all 0.3s ease;
    background: #212529;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown span,
.form-input .dropdown span {
    color: #212529;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list,
.form-input .dropdown .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    transform: scale(0.75);
    transform-origin: 50% 0;
    background-color: #fff;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    min-width: 100%;
    top: calc(100% + 15px);
    left: -3px;
    z-index: 999;
    width: calc(100% + 6px);
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list ul,
.form-input .dropdown .list ul {
    position: relative;
    height: auto;
    max-height: 400px;
    overflow: auto;
    padding: 0 !important;
    margin: 0;
    border: solid 3px #212529;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list .option,
.form-input .dropdown .list .option {
    font-size: 18px;
    color: #212529;
    padding: 15px 40px 15px 25px !important;
    cursor: pointer;
    border-bottom: solid 3px #212529;
    text-align: left;
    transition: all 0.3s;
    position: relative;
    outline: none;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list .option:last-of-type,
.form-input .dropdown .list .option:last-of-type {
    border-bottom: 0;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list .option:before,
.form-input .dropdown .list .option:before {
    display: none;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list .option.selected,
.form-input .dropdown .list .option.selected {
    background: #FFEE03;
    color: #212529;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list .option:hover,
.form-input .dropdown .list .option:hover {
    background: #FFEE03;
    color: #212529;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown.open,
.form-input .dropdown.open {
    background: #FFEE03;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown.open:before,
.form-input .dropdown.open:before {
    top: 8px;
    right: -8px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown.open .list,
.form-input .dropdown.open .list {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown.open:after,
.form-input .dropdown.open:after {
    transform: translateY(-50%) rotate(180deg);
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown:after,
.form-input .dropdown:after {
    content: "\e916";
    font-family: 'icomoon2' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    transition: all 0.3s ease;
    color: #212529;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check {
    margin-bottom: 36px;
    padding-top: 21px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check label {
    font-size: 16px;
    color: #212529;
    margin-bottom: 5px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check .powermail_field label {
    display: block;
    font-size: 18px;
    color: #212529;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check .powermail_field label.checkbox-container {
    margin-bottom: 5px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check input[type='checkbox'] {
    position: relative;
    top: -2px;
    margin-right: 5px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio {
    padding-top: 21px;
    margin-bottom: 36px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio > label {
    margin-bottom: 5px;
    line-height: 1;
    font-size: 16px;
    color: #212529;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label {
    display: block;
    font-size: 18px;
    padding-left: 34px;
    color: #212529;
    cursor: pointer;
    position: relative;
    margin-bottom: 0px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:checked + span {
    display: inline-block;
    position: absolute;
    padding-left: 28px;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
    height: 20px;
    left: 0px;
    color: #212529;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:checked + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 3px solid #212529;
    border-radius: 100%;
    background: #fff;
    transition: 0.3s;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:checked + span:after {
    content: '';
    width: 14px;
    height: 13px;
    background: #FFEE03;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 1;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:not(:checked) + span {
    display: inline-block;
    position: absolute;
    padding-left: 28px;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
    color: #212529;
    height: 20px;
    left: 0px;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:not(:checked) + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 3px solid #212529;
    border-radius: 100%;
    background: #fff;
    transition: 0.3s;
}
.tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:not(:checked) + span:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #212529;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
}
.tx-powermail .powermail_fieldwrap.nolabel label {
    display: none;
}

.tx-srfeuserregister-pi1 .form-input-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.tx-srfeuserregister-pi1 .form-input-radio input[type=radio] {
    display: none;
}
.tx-srfeuserregister-pi1 .form-input-radio label {
    position: relative;
    cursor: pointer;
}
.tx-srfeuserregister-pi1 .form-input-radio label:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 3px solid #212529;
    border-radius: 100%;
    background: #fff;
    transition: 0.3s;
    float: left;
    margin-right: 13px;
}
.tx-srfeuserregister-pi1 .form-input-radio input[type=radio]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #212529;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
}
.tx-srfeuserregister-pi1 .form-input-radio input[type=radio]:checked + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #FFEE03;
    position: absolute;
    top: 3px;
    transform: scale(1);
    left: 3px;
    border-radius: 100%;
    transition: all 0.2s ease;
    opacity: 1;
}

.tx-srfeuserregister-pi1 .form-input-checkbox {
    position: relative;
    padding-left: 32px;
}
.tx-srfeuserregister-pi1 .form-input-checkbox:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 3px solid #212529;
    transition: all 0.3s ease;
}
.tx-srfeuserregister-pi1 .form-input-checkbox input[type=checkbox] {
    position: absolute;
    left: 0px;
    top: 2px;
    height: 20px;
    width: 20px;
}
.tx-srfeuserregister-pi1 .form-input-checkbox.complete:after {
    background-color: #FFEE03;
    border: 3px solid #212529;
}

.tx-srfeuserregister-pi1 a {
    background: none;
    padding-left: 0px;
    color: #212529;
}
.tx-srfeuserregister-pi1 p {
    padding: 0px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 32px;
    margin-bottom: 18px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 3px solid #212529;
    transition: all 0.3s ease
}

.checkbox-container:hover input~.checkmark {
    background-color: white
}

.checkbox-container input:checked~.checkmark {
    background-color: #FFEE03;
    border: 3px solid #212529
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.checkbox-container input:checked~.checkmark:after {
    display: block
}

.input-container {
    padding-bottom: 32px;
}
.forgot-password-container {
    text-align: right;
    padding-top: 8px;
}
.forgot-password {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #212529;
    text-transform: none;
    position: relative;
}
.forgot-password:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 7px;
    background: #FFEE03;
    transition: all 0.3s ease;
    z-index: -1;
}
.forgot-password:hover {
    text-decoration: none;
    color: #212529;
}
.forgot-password:hover:after {
    height: 120%;
}

.subscribe-message {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #212529;
    padding-top: 24px;
}
.subscribe-message a {
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    color: #212529;
    text-transform: none;
    position: relative;
    margin-left: 5px;
}
.subscribe-message a:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 7px;
    background: #FFEE03;
    transition: all 0.3s ease;
    z-index: -1;
}
.subscribe-message a:hover {
    text-decoration: none;
    color: #212529;
}
.subscribe-message a:hover:after {
    height: 120%;
}
.tx-srfeuserregister-pi1 p {
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
}
.tx-srfeuserregister-pi1 .tx-srfeuserregister-pi1-error {
    color: #ff0000;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.tx-srfeuserregister-pi1 > strong {
    font-size: 20px;
}

/* DCE ORGANIZER //////*/
.organizer {
    display: flex;
}
.organizer-container .row {
    row-gap: 24px;
}
.organizer img {
    margin-right: 25px;
}
.organizer p {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
}
.organizer .organizer-title {
    color: #212529;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 11px;
}
.organizer a {
    color: #212529;
}

/* ANCHOR MENU //////*/
.sidebar-content {
    position: relative;
}
.anchor-menu {
    position: sticky;
    width: initial;
    top: 175px;
}
.anchor-menu .page-title {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.anchor-menu ul {
    padding: 0px;
}
.anchor-menu li {
    list-style-type: none;
    padding-bottom: 11px;
    line-height: 1.3;
}
.anchor-menu li a {
    color: #212529;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}
.anchor-menu li a:hover {
    text-decoration: none;
}
.anchor-menu li a:after {
    content: '';
    position: absolute;
    width: 3px;
    height: 0;
    background: #FFEE03;
    top: 0px;
    left: -16px;
    transition: all 0.3s ease;
}
.anchor-menu li a.active {
    font-weight: 700;
}
.anchor-menu li a.active:after {
    height: 100%;
}
.anchor-menu li a:hover:after {
    height: 100%;
}

/* ALERT //////*/
.alert { 
    font-size: 20px;
    padding: 21px 18px 18px 21px;
    border-radius: 3px;
    margin-bottom: 16px;
    box-shadow: none;
    text-shadow: none;
}
.alert i {
    margin-right: 8px;
    font-size: 26px;
}
.alert.danger-alert { 
    color: #A94442;
    border: solid 1px #EBCCD1;
    background-color: #F2DEDE;
}
.alert.attention-alert { 
    color: #8A6D3B;
    border: solid 1px #FAEBCC;
    background-color: #FCF8E3;
}
.alert.information-alert { 
    color: #31708F;
    border: solid 1px #BCE8F1;
    background-color: #D9EDF7;
}
.alert.success-alert { 
    color: #3C763D;
    border: solid 1px #D6E9C6;
    background-color: #DFF0D8;
}

/* GALLERY //////*/
.masonry-gallery {
    columns: 2;
    column-gap: 13px;
    display: block;
    margin-bottom: 40px;
}
.masonry-gallery .video-box {
    display: inline-block;
    width: 100%;
    margin-bottom: 13px;
    max-width: 100%;
}
.masonry-gallery .video-box a {
    display: block;
    position: relative;
}
.masonry-gallery .video-box a:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background: #FFEE03;
    opacity: 0;
    transition: all 0.3s ease;
}
.masonry-gallery .video-box a:hover:after {
    opacity: 1;
}
.masonry-gallery .video-box img {
    width: 100%;
    height: auto;
    filter: grayscale(0);
    transition: all 0.3s ease;
}
.masonry-gallery .video-box a:hover img {
    filter: grayscale(1);
}
.lg-thumb-item.active:after {
    background: #FFEE03;
}
.slider-gallery {
    overflow: hidden;
}
.slider-gallery img {
    width: 100%;
    height: auto;
}
.slider-gallery .slick-dots {
    position: initial;
    margin-top: 14px;
}
.slider-gallery .slick-dots li {
    position: relative;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    border: 3px solid #212529;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.slider-gallery .slick-dots li:hover {
    background: #FFEE03;
}
.slider-gallery .slick-dots li.slick-active {
    background: #FFEE03;
}
.slider-gallery .slick-prev,
.slider-gallery .slick-next {
    z-index: 1;
    width: 62px;
    height: 125px;
    top: calc(50% - 38px);
}
.slider-gallery .slick-prev {
    left: 0px;
}
.slider-gallery .slick-next {
    right: 0px;
}
.slider-gallery .slick-prev:before {
    content: "\e924";
    font-family: 'icomoon2' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    opacity: 1;
    position: relative;
    left: -5px;
}
.slider-gallery .slick-next:before {
    content: "\e925";
    font-family: 'icomoon2' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    opacity: 1;
    position: relative;
    right: -5px;
}
.slider-gallery .slick-prev:after,
.slider-gallery .slick-next:after {
    content: '';
    height: 125px;
    width: 125px;
    position: absolute;
    border-radius: 50%;
    background: #FFEE03;
    opacity: 0.5;
    z-index: -1;
    transition: all 0.3s ease;
}
.slider-gallery .slick-prev:after {
    top: 0px;
    right: 0px;
}
.slider-gallery .slick-next:after {
    top: 0px;
    left: 0px;
}
.slider-gallery .slick-prev:hover:after,
.slider-gallery .slick-next:hover:after {
    opacity: 0.8;
}
#tarteaucitronIcon {
    display: none !important;
}


/* FOOTER //////*/
footer {
    background: #FFEE03;
    padding: 58px 0px 145px 0px;
}
footer p {
    font-size: 32px;
}

footer .container .row > div:last-of-type .links-with-icon {
    padding-left: 15px;
}

.links-with-icon .link-with-icon {
    color: #212529;
    font-size: 32px;
    font-weight: 700;
    display: block;
    position: relative;
    margin-bottom: 2px;
}
.links-with-icon .link-with-icon span {
    position: relative;
}
.links-with-icon .link-with-icon span:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 5px;
    background: #212529;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease;
}
.links-with-icon .link-with-icon:hover {
    text-decoration: none;
}
.links-with-icon .link-with-icon:hover span:after {
    height: 4px;
    bottom: -1px;
}
.links-with-icon .link-with-icon i {
    display: inline-block;
    margin-right: 18px;
    position: relative;
    top: 4px;
}

/* DESKTOP DEVICE //////////////////////////////////////////*/
/* WINDOW > 1600px /////////////////////////////////////////*/

@media (max-width: 1600px) {
    .menu-logo {
        max-width: 450px;
    }
    .nav-menu > ul > li {
        padding-right: 10px;
        padding-left: 10px;
    }
    footer p {
        font-size: 30px;
    }
    .links-with-icon .link-with-icon {
        font-size: 25px;
    }
    footer .container .row > div:last-of-type .links-with-icon {
        padding-left: 0px;
    }
}

/* DESKTOP DEVICE //////////////////////////////////////////*/
/* WINDOW > 1200px /////////////////////////////////////////*/

@media (max-width: 1200px) {
    .menu-logo {
        max-width: 350px;
    }
    .nav-menu ul li a {
        font-size: 16px;
    }
    .subheader p {
        font-size: 18px;
        padding: 10px 0px;
    }
    .subheader-right span {
        padding: 0px 15px;
        font-size: 15px;
    }
    .subheader-right span i {
        top: 3px;
        font-size: 20px;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 22px;
    }
    p {
        font-size: 19px;
    }
    ol, ul {
        margin-bottom: 30px;
    }
    ul li,
    ol li {
        font-size: 19px;
    }
    .frame p a {
        font-size: 19px;
    }
    .intro-text {
        margin-bottom: 55px;
    }
    .intro-text p {
        font-size: 28px;
    }
    .panel-heading {
        padding: 30px 0px 21px 0px;
    }
    table th {
        font-size: 19px;
        padding: 15px 12px !important;
    }
    table td {
        padding: 15px 12px !important;
        font-size: 19px;
    }
    .special-link-container .special-link {
        padding: 20px 14px 20px 50px;
    }
    .special-link-container .special-link i {
        font-size: 22px;
    }
    blockquote {
        padding-left: 90px;
    }
    blockquote:before {
        left: 0px;
    }
    blockquote p:first-of-type {
        font-size: 26px;
    }
    blockquote P:last-of-type {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .box-color {
        padding: 30px;
        margin-bottom: 20px;
    }
    .alert {
        font-size: 19px;
        padding: 18px 16px 16px 18px;
        margin-bottom: 15px;
    }
    .alert i {
        margin-right: 8px;
        font-size: 20px;
    }
    .tx-powermail label, .frame-type-felogin_login label, .tx-srfeuserregister-pi1 label {
        font-size: 14px;
    }
    .powermail_fieldwrap input[type="text"],
    .powermail_fieldwrap input[type="email"],
    .powermail_fieldwrap input[type="date"],
    .powermail_fieldwrap textarea,
    .frame-type-felogin_login input[type="text"],
    .frame-type-felogin_login input[type="password"],
    .tx-srfeuserregister-pi1 input[type="text"],
    .tx-srfeuserregister-pi1 input[type="email"],
    .tx-srfeuserregister-pi1 input[type="tel"],
    .tx-srfeuserregister-pi1 input[type="url"],
    .tx-srfeuserregister-pi1 input[type="password"],
    .tx-srfeuserregister-pi1 input[type="date"],
    .tx-srfeuserregister-pi1 textarea {
        padding: 12px 12px;
        font-size: 16px;
    }
    .tx-powermail .powermail_fieldwrap {
        margin-bottom: 22px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown span,
    .form-input .dropdown span {
        font-size: 16px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown, .form-input .dropdown {
        min-height: 45px;
        font-size: 16px;
        padding: 8px 28px 8px 12px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown span, .form-input .dropdown span {
        font-size: 16px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown:after, .form-input .dropdown:after {
        right: 12px;
        font-size: 10px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list .option, .form-input .dropdown .list .option {
        font-size: 16px;
        padding: 12px 12px 12px 12px !important;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio > label {
        font-size: 14px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check label {
        font-size: 14px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check .powermail_field label {
        font-size: 16px;
    }
    .powermail_fieldwrap_type_submit input, .frame-type-felogin_login input[type="submit"], .tx-srfeuserregister-pi1 input[type="submit"] {
        font-size: 16px;
    }
    .forgot-password {
        font-size: 16px;
    }
    .subscribe-message {
        font-size: 16px;
    }
    .subscribe-message a {
        font-size: 16px !important;
    }
    footer p {
        font-size: 25px;
    }
    .links-with-icon .link-with-icon {
        font-size: 20px;
    }
}

/* TABLET DEVICE //////////////////////////////////////////*/
/* WINDOW > 992px /////////////////////////////////////////*/

@media (max-width: 992px) {
    .subheader-right {
        display: none;
    }
    .subheader p {
        font-size: 11px;
        padding: 8px 0px;
    }
    #header.sticky {
        transform: translateY(-32px);
    }
    .menu-logo {
        max-width: 226px;
    }
    #header .menu-icon {
        display: flex;
        align-items: center;
    }
    #header .menu-icon .login {
        margin-right: 15px;
    }
    #header .menu-icon .login a {
        color: #2e2e2e;
    }
    #header .menu-icon .login a i {
        font-size: 20px;
    }
    #header .navbar {
        padding: 12px 15px;
    }
    #header .navbar .navbar-nav {
        position: relative;
    }
    #header .navbar .navbar-nav.open-sub {
        left: -100vw;
    }
    .nav-menu {
        position: absolute;
        top: 57px;
        background: #fff;
        width: 100vw;
        left: 0px;
        height: 0px;
        padding: 30px 25px;
        visibility: hidden;
        transition: all 0.5s ease;
        opacity: 0;
    }
    .nav-menu.open {
        height: calc(100vh - 92px);
        visibility: visible;
        opacity: 1;
    }
    #header.sticky .nav-menu.open {
        height: calc(100vh - 60px);
    }
    .menu-burger {
        display: flex;
    }
    .nav-menu ul li {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        border-bottom: 3px solid #212529;
    }
    .nav-menu ul li:first-of-type {
        padding-top: 0px;
    }
    .nav-menu ul li a {
        font-size: 18px;
        padding-bottom: 13px;
        padding-top: 19px;
        display: block;
        position: relative;
    }
    .nav-menu ul li:first-of-type a {
        padding-top: 0px;
    }
    .nav-menu ul li a:after {
        display: none !important;
    }
    .nav-menu ul li.hassub > a:before {
        content: "\e91b";
        font-family: 'icomoon2' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
    }
    .navbar-nav .dropdown-menu {
        width: 100vw;
        display: block;
        position: fixed;
        top: 90px;
        left: 100vw;
        opacity: 0;
        padding: 25px 25px 25px 53px;
    }
    .navbar-nav .dropdown-menu.open-sub {
        left: 0px;
        opacity: 1;
    }
    .navbar-nav .dropdown-menu ul {
        background: none;
    }
    .navbar-nav .dropdown-menu li {
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        border-bottom: 3px solid #212529;
        margin-bottom: 0px;
    }
    .navbar-nav .dropdown-menu li a {
        font-size: 18px;
        padding-bottom: 13px;
        padding-top: 19px;
        display: block;
        position: relative;
        border: 0px;
        text-align: left;
        padding-left: 0px;
    }
    .navbar-nav .dropdown-menu ul li:hover {
        top: inherit;
        left: inherit;
    }
    .navbar-nav .dropdown-menu ul li a:hover  {
        background: none;
    }
    .submenu-title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .submenu-title:after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: -7px;
        width: 100%;
        height: 15px;
        background: #FFEE03;
        transition: all 0.3s ease;
        z-index: -1;
    }
    .submenu-title i {
        position: absolute;
        left: -35px;
        top: 50%;
        font-size: 10px;
        transform: translateY(-50%);
    }
    h1 {
        font-size: 34px;
        margin-bottom: 22px;
    }
    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    h5 {
        font-size: 17px;
    }
    p {
        font-size: 17px;
    }
    .frame p a {
        font-size: 17px;
    }
    ol, ul {
        margin-bottom: 30px;
    }
    ul li,
    ol li {
        font-size: 17px;
    }
    hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .intro-text {
        margin-bottom: 45px;
    }
    .intro-text p {
        font-size: 23px;
    }
    .panel-heading {
        padding: 20px 0px 21px 0px;
    }
    table th {
        font-size: 17px;
        padding: 10px 10px !important;
    }
    table td {
        padding: 10px 10px !important;
        font-size: 17px;
    }
    .nav-tabs .tab-carousel .tab-item a {
        padding: 0px 15px 15px 15px;
        font-size: 17px;
    }
    .special-link-container .special-link {
        padding: 16px 12px 16px 48px;
        font-size: 17px;
    }
    .special-link-container .special-link i {
        left: 12px;
        font-size: 21px;
    }
    blockquote {
        padding: 20px 0px 20px 25px;
    }
    blockquote:before {
        left: 0px;
        top: -10px;
        font-size: 49px;
        z-index: -1;
    }
    blockquote p:first-of-type {
        font-size: 24px;
    }
    blockquote P:last-of-type {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .box-color {
        padding: 28px;
        margin-bottom: 16px;
    }
    .alert {
        font-size: 17px;
        padding: 12px 14px 12px 14px;
        margin-bottom: 15px;
    }
    .alert i {
        margin-right: 8px;
        font-size: 20px;
    }
    .tx-powermail label, .frame-type-felogin_login label, .tx-srfeuserregister-pi1 label {
        font-size: 12px;
    }
    .powermail_fieldwrap input[type="text"],
    .powermail_fieldwrap input[type="email"],
    .powermail_fieldwrap input[type="date"],
    .powermail_fieldwrap textarea,
    .frame-type-felogin_login input[type="text"],
    .frame-type-felogin_login input[type="password"],
    .tx-srfeuserregister-pi1 input[type="text"],
    .tx-srfeuserregister-pi1 input[type="email"],
    .tx-srfeuserregister-pi1 input[type="tel"],
    .tx-srfeuserregister-pi1 input[type="url"],
    .tx-srfeuserregister-pi1 input[type="password"],
    .tx-srfeuserregister-pi1 input[type="date"],
    .tx-srfeuserregister-pi1 textarea {
        padding: 9px 12px;
        font-size: 14px;
    }
    .tx-powermail .powermail_fieldwrap {
        margin-bottom: 22px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown span,
    .form-input .dropdown span {
        font-size: 14px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown, .form-input .dropdown {
        min-height: 45px;
        font-size: 14px;
        padding: 8px 28px 8px 12px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown span, .form-input .dropdown span {
        font-size: 14px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown:after, .form-input .dropdown:after {
        right: 12px;
        font-size: 10px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_select .dropdown .list .option, .form-input .dropdown .list .option {
        font-size: 14px;
        padding: 12px 12px 12px 12px !important;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio > label {
        font-size: 12px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check label {
        font-size: 12px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_check .powermail_field label {
        font-size: 14px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:not(:checked) + span:before {
        width: 18px;
        height: 18px;
    }
    .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_radio .radio label input[type="radio"]:checked + span:before {
        width: 18px;
        height: 18px;
    }
    .checkmark {
        top: 0px;
        height: 18px;
        width: 18px;
    }
    .powermail_fieldwrap_type_submit input, .frame-type-felogin_login input[type="submit"], .tx-srfeuserregister-pi1 input[type="submit"] {
        font-size: 14px;
        padding: 15px 18px;
    }
    .forgot-password {
        font-size: 14px;
    }
    .subscribe-message {
        font-size: 14px;
    }
    .subscribe-message a {
        font-size: 14px !important;
    }
    #content {
        padding-top: 150px;
        padding-bottom: 80px;
    }
    .content-img img {
        margin-bottom: 46px;
    }
    .box-color.box-fullwidth {
        padding: 50px 0px 60px 0px;
    }
    .organizer-container .row {
        row-gap: 0px;
    }
    .organizer {
        padding: 20px 0px;
    }
    .organizer .organizer-title {
        font-size: 17px;
        margin-bottom: 7px;
    }
    .organizer p {
        font-size: 14px;
    }
    .organizer img {
        margin-right: 20px;
    }
    .sidebar-content {
        display: none;
    }
    footer {
        padding: 50px 0px 40px 0px;
    }
    footer p {
        margin-bottom: 40px;
        font-size: 24px;
    }
    .links-with-icon {
        margin-bottom: 40px;
    }
    .links-with-icon .link-with-icon {
        font-size: 24px;
    }
}

/* TABLET DEVICE //////////////////////////////////////////*/
/* WINDOW > 768px /////////////////////////////////////////*/

@media (max-width: 768px) {
    .tx-powermail .powermail_fieldwrap.layout1,
    .tx-powermail .powermail_fieldwrap.layout2 {
        padding: 0px;
        width: 100%;
    }
}

/* MOBILE DEVICE //////////////////////////////////////////*/
/* WINDOW > 600px /////////////////////////////////////////*/

@media (max-width: 600px) {
    .organizer img {
        width: 90px;
        height: auto;
    }
}
