.btn {
  display: inline-flex;
  align-items: center;
  column-gap: theme('spacing.2');

  padding: theme('spacing.2') theme('spacing.4');

  font-weight: var(--agd-btn-font-weight, normal);

  cursor: pointer;
}

.btn--primary {
  color: var(--agd-btn-primary-color, var(--agd-text-color-negative));

  background-color: var(--agd-btn-primary-bg-color, var(--agd-color-primary));
  border: var(--agd-btn-primary-border, none);

  &.active {
    background-color: var(
      --agd-btn-primary-active-bg-color,
      var(--agd-color-accent)
    );
  }
}

.btn--secondary {
  color: var(--agd-btn-secondary-color);

  background-color: var(--agd-btn-secondary-bg-color, var(--agd-color-depth));
  border: var(--agd-btn-secondary-border, none);

  &:hover,
  &.active {
    background-color: var(
      --agd-btn-secondary-active-bg-color,
      var(--agd-color-depth-dark)
    );
  }
}

.btn--link {
  color: var(--agd-btn-link-color, var(--agd-link-color));
}

.btn--icon {
  padding: theme('spacing.2');

  border-radius: var(--agd-btn-icon-border-radius, var(--agd-border-radius));

  @screen md {
    padding: theme('spacing.3');
  }
}
