.card {
  color: inherit;

  background-color: var(--agd-card-bg-color, var(--agd-color-depth));
  border: var(--agd-card-border, none);

  &:hover {
    text-decoration: none;
  }
}

.card--featured {
  --agd-btn-secondary-color: var(
    --agd-card-featured-bg-color,
    var(--agd-color-primary)
  );

  color: var(--agd-card-featured-color, var(--agd-text-color-negative));

  background-color: var(--agd-card-featured-bg-color, var(--agd-color-primary));
}

.card__media {
  position: relative;

  background-color: var(--agd-card-media-bg-color, var(--agd-color-depth-dark));

  &::before {
    content: '';
    display: block;

    position: absolute;
    inset: 0;
    z-index: 1;

    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  }
}

.card__body {
  border-top: var(--agd-card-body-border-top, none);
}
