.field {
  display: block;
  width: 100%;
  min-height: 45px;
  padding: theme('spacing.2') theme('spacing.4');

  border: var(--agd-field-border, 1px solid var(--agd-border-color));

  &:focus {
    background-color: var(--agd-field-focus-bg-color);
  }
}
