.filters-bar {
  grid-template-columns: 1fr;
  align-items: stretch;

  @screen md {
    grid-template-columns: auto auto auto 1fr auto;
  }
}

.filters-bar--with-filters {
  grid-template-columns: 1fr auto;

  @screen md {
    grid-template-columns: auto auto auto 1fr auto;
  }
}

.filters-bar__collapse {
  grid-row-start: 2;
  grid-column: 1 / -1;

  @screen lg {
    grid-row-start: 2;
    grid-column: 1 / -1;
  }
}

.filters-bar__search {
  grid-column: 1 / -1;

  @screen md {
    grid-column-start: 5;
  }
}
