<template>
  <Picture
    v-if="poster"
    :img="poster"
    :sizes="[[220], [352], [500], [736], [1472]]"
  >
    <img
      :src="poster.src"
      :width="poster.width"
      :height="poster.height"
      alt=""
      v-bind="$attrs"
    />
  </Picture>
</template>

<script lang="ts" setup>
import { type RawEventLightProps } from '../models/EventLight';

import Picture from '@/components/Picture.vue';

defineProps<{ poster: RawEventLightProps['poster'] }>();
</script>
