<template>
  <picture>
    <template v-if="img">
      <source v-for="(source, i) in sources" :key="i" v-bind="source" />
    </template>
    <slot />
  </picture>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

const props = defineProps<{
  img: {
    src: string;
    width: number;
    height: number;
  } | null;
  sizes: [width: number, height?: number][];
}>();

function buildUrlWithParams(params: Record<string, string | number>) {
  if (!props.img) return '';

  const u = new URL(props.img.src);

  Object.entries(params).forEach(([key, value]) => {
    u.searchParams.set(key, value.toString());
  });

  return u;
}

const sources = computed(() => {
  const img = props.img;

  if (img) {
    return ['webp', 'jpg'].map((format) => {
      return {
        srcset: props.sizes
          .map(([width, height]) => {
            return `${buildUrlWithParams({
              format,
              width,
              height: height || Math.round((img.height * width) / img.width),
            })} ${width}w`;
          })
          .join(', '),
        format: `image/${format}`,
      };
    });
  }

  return [];
});
</script>
