<template>
  <Loader v-if="loading" />
  <ul v-else-if="events.length" class="grid gap-3">
    <li v-for="event in events" :key="event.id">
      <div class="text-xs">{{ event.datesHumanized }}</div>
      <component
        :is="agendaUrl ? 'a' : Fragment"
        :href="`${agendaUrl}#/event/${event.id}`"
        class="font-bold"
      >
        {{ event.title }}
      </component>
    </li>
  </ul>
  <div v-else-if="error">{{ error }}</div>
  <div v-else>Aucun événement à afficher.</div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

import { API_BASE_URL } from '@/helpers/options';

import { getEvents } from '@/services/eventsService';

import type EventLight from '@/models/EventLight';

import Fragment from '@/components/Fragment';
import Loader from '@/components/Loader.vue';

const props = defineProps<{
  domain?: 'sports' | 'culture';
  apiBaseUrl?: string;
  agendaUrl?: string;
}>();

if (props.apiBaseUrl) {
  API_BASE_URL.value = props.apiBaseUrl;
}

const loading = ref(true);
const error = ref<string | null>(null);
const events = ref<EventLight[]>([]);

getEvents({ filters: { domain: props.domain }, pageSize: 5 })
  .then(
    (e) => {
      events.value = e.events;
    },
    () => {
      error.value = 'Une erreur a empêché le chargement des événements.';
    }
  )
  .finally(() => {
    loading.value = false;
  });
</script>

<style>
@import '@/assets/css/agenda-upcoming-embed.css';
</style>
